select,
.input-text,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  height: 30px;
  border: 1px solid #ddd;
  color: #666;
  outline: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

label{
  font-weight:normal;
}
input[type="text"],
.input-text,
#qty,
.quantity-controls,
textarea {
  -webkit-box-shadow: none !important;
  -webkit-border-radius: 0px !important;
  -webkit-appearance: none;
}

dt, dd {
  font-weight: normal;
}

.qty:focus,
#coupon_code:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
textarea:focus {
  background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit !important;
}

select {
  padding: 0px 6px 0px 10px;
}

input[type="checkbox"],
input[type="radio"] {
  border: none;
}

textarea:focus, select:focus,
textarea:hover, select:hover,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="radio"]:focus,
.uneditable-input:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type="checkbox"],
input[type="radio"],
input[type="checkbox"]:focus,
input[type="radio"]:focus {
  border: none;
}

input[type="radio"],
input[type="checkbox"] {
  float: left;
  margin: 0px 7px 0 0;
}


textarea {
  width: 100%;
  border:1px solid #ddd;
  padding:5px 10px;
  color:#666;
  min-height:150px;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  line-height: 1.6;
  outline: none;
  overflow-y: scroll !important;
  overflow-x: hidden;
}

.page-popup {
  overflow-x: visible;
}

#modal-login {
  overflow-y: auto !important;
}

body *:focus {
  outline: none;
}


a, a:focus, a:hover {
  text-decoration: none;
  outline: none;
}

.title-buttons .link-print {
  margin: 0px 20px;
  position: relative;
  top: -3px;
}

.clearfix {
  clear: both;
}

.advanced-search .multiselect {
  width: 230px;
}


.yt-content-inner {
  margin-top: 15px;
  margin-bottom: 40px;
}

.layout-boxed #yt_wrapper {
  /* background: #fafafa; */
  margin: 0 auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: block;
  max-width: 1200px;
  background: #fff;
}

#yt_wrapper {
  /* overflow-x: hidden; */
  display: inline-block;
  width: 100%;
}

.add-to-cart .btn-cart {
  .transition_all(.0s);
}

#yt_header,
#yt_content,
#yt_footer {
  float: left;
  width: 100%;
}

#yt_footer {
  clear: both;
  float: none;
}

.yt-header-under.menu-on-top {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


#yt_wrapper .yt-main-home .yt-content-inner {
  padding-top: 50px;
}

/***messages***/
.messages {
  margin: 0 0 20px;
  width: 100%;
  clear: both;
}

.error-msg {
  background: none repeat scroll 0 0 #f64848;
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px;
}

.label {
  font-size: 100%;
  padding: 0;
  color: inherit;
  font-weight: normal;
}

.demo-notice .notice-inner p {
  display: none;
}

/***button***/
.button {
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  transition: background-color .2s;
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  white-space: nowrap;
  font-size: 100%;
  text-transform: uppercase;
  background-color: #666666;
  border:none;
  color: #fff;
}

.header-content-right .form-search .input-text {
  border: none;
  padding-right: 90px;
  margin-top: 3px;
  width: 100%;
}

.header-v1,
.header-v2 {
  display: inline-block;
  width: 100%;
}


.header-content-right .form-search .input-text:focus {
  background-color: transparent;
}

.cloud-zoom-big {
  background: #fff;
}

.rating-links {
  float: left;
  position:relative;

  a {
    color: #909090;
    font-size: 91.67%;
  }
}

label .required {
  color: red;
}

/*----------------------------------------------------------------------
|                               COMPARE BLOCK                          |
-----------------------------------------------------------------------*/
.block-compare {
  .block-content {
    ol#compare-items {
      li {
        margin-bottom: 10px;

        .product-name {
          display: inline-block;
          margin-right: 5px;
        }
        a.btn-remove {
          display: inline-block;
          position: relative;
          top: 2px;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          background: url(../../images/remove_btn.png) no-repeat top left;

          &:hover {
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
          }
        }
      }
    }

    .actions {
      padding-top: 10px;
      border-top: 1px solid #e5e5e5;

      a {
        position: relative;
        top: 10px;
      }
      .button {
        float: right;
      }
    }
  }
}

.page-popup.catalog-product-compare-index {
  padding: 10px;
}

.fancybox-item.fancybox-close {
  width: 30px;
  height: 30px;
  background: url(../../images/btn-close-fancy.png) no-repeat center center;
  top: -15px;
  right: -15px;
}

/*----------------------------------------------------------------------
|                             END COMPARE BLOCK                        |
-----------------------------------------------------------------------*/

/*----------------------------------------------------------------------
|                           STYLE DINAMICSLIDESHOW                     |
-----------------------------------------------------------------------*/
.yt-slideshow {
  display: inline-block;
  margin-bottom:32px;

  .owl-buttons{
    .owl-next,
    .owl-prev{
      position:absolute;
      top:50%;
      margin-top:-18px;
    }

    .owl-next{
      right:5px;
    }

    .owl-prev{
      left:5px;
    }
  }

  .owl-controls{
    margin:0;
  }
  .owl-controls .owl-pagination{
    position:absolute;
    bottom:10px;
    width:100%;

    .owl-page{
      width:10px;
      height:10px;
      border:1px solid transparent;

      &:hover{
        border:1px solid #fff;
      }
    }

    .owl-page.active{
      border:1px solid #fff;
    }
  }
}

/*----------------------------------------------------------------------
|                        END STYLE DINAMICSLIDESHOW                    |
-----------------------------------------------------------------------*/
/*= STYLE OWL MUTIL ITEM =*/
.overflow-owl-slider{
  overflow: hidden;
}
.rw-margin{
  margin-left:-15px;
  margin-right:-15px;

  .owl-item{
    padding:0 15px;
  }
}

/*= BUTTON NEXT PREV DEFAULT =*/

.custom-nav-default{
  text-align:center;


  .button-default{
    width:36px;
    height:36px;
    display:inline-block;
    line-height:35px;
    text-align:center;
    border:1px solid #ddd;
    font-size:22px;
    color:#ddd;
    cursor: pointer;
    .transition_all(.3s);
    background-color:#fff;
    z-index:9;
    margin:10px 0px;

    &:hover{
      color:#fff;
    }
  }
}


/*----------------------------------------------------------------------
|                                 HOME PAGE                            |
-----------------------------------------------------------------------*/

.block-title-default{
  border-bottom:3px solid;
  margin-top:-5px;
  position: relative;

  h2{
    display:inline;

    span{
      display:inline-block;
      font-size:133.33%;
      font-weight:bold;
      color:#fff;
      padding:0 18px;
      text-transform: uppercase;
      line-height: 37px;
      position:relative;

      &:before{
        border-right: 20px solid transparent;
        content: "";
        display: inline-block;
        height: 0;
        position: absolute;
        right: -20px;
        top: 0;
        width: 0;
      }
    }
  }
}

.list-services{
  li{
    a{
      border:3px solid #ddd;
      display:block;
      .transition_all(.3s);

      img{
        width:auto;
        max-width:100%;
      }
    }
  }
}

.static-home-2{
  margin-bottom:33px;
  display:inline-block;
  width:100%;

  > ul{
    > li{
      float:left;

      a{
        display:block;
        clear:both;
        position:relative;

        &:before{
          content:"";
          display:inline-block;
          position:absolute;
          top:0px;
          left:0px;
          background: rgba(0,0,0,0.2);
          width:100%;
          height:100%;
          opacity: 0;
          .transition_all(.2s);
          z-index:20;
        }

        img{
          width:100%;

          &:hover{
            position: relative;
            z-index: 9;
          }
        }
      }

      a:hover:before{
          opacity: 1;
      }
    }
  }
}

/*----------------------------------------------------------------------
|                               END HOME PAGE                          |
-----------------------------------------------------------------------*/


/*------------------------------ Data Table ----------------------*/
.data-table {
  width: 100%;
}

.data-table th.wrap {
  white-space: normal;
}

.data-table th {
  padding: 10px;
  border: 1px solid #e9e9e9;
  text-align: center;
}

.data-table tbody tr {
  border: 1px solid #e9e9e9;
}

.data-table tr td {
  padding: 10px;
  border: 1px solid #e9e9e9;
  vertical-align: middle;
}

.data-table td h3 {
  margin: 0;
  line-height: 100%;
}

body table.data-table {
  border-collapse: collapse;
}

.data-table thead {
  border: 1px solid #e9e9e9;
}

.data-table tfoot {
  border-top: none;
  border-top: 1px solid #e9e9e9;
}

.data-table .first.odd,
.box-account .data-table .odd {
  background: none;
}

.a-center input.checkbox {
  float: none;
}

label.required em {
  font-weight: normal;
  padding: 0 5px 0 0;
  vertical-align: middle;
  color: #ff0000;
}

/*------------------------- css for header --------------------------*/
.my-account .tags-list li {
  display: inline-block;
  margin-right: 5px;
}

.my-account .tags-list li > a:after {
  content: ",";
}

#yt_header .yt-header-under {
  float: left;
  width: 100%;
  position:relative;
  z-index:30;
}

#yt_header .yt-header-under .yt-header-under-wrap {
  position: relative;
}

.main-content {
  padding-top: 35px;
}

/*----------------------------------------------------------------------
       FROM THE BLOG   |        FAQs       |    WHAT CLIENT SAYS       |
-----------------------------------------------------------------------*/
.block{
  .customNavigation{
    position:absolute;
    top:6px;
    right:5px;

    .btn-bs{
      width:17px;
      height:30px;
      text-align:center;
      display:inline-block;
      line-height:30px;
      font-size:28px;
      cursor:pointer;
      color:#999999;
    }
  }
}

.latest-blog{
  .item-blog{
    .img-blog{
      position:relative;

      img{
        width:auto;
        max-width:100%;
      }

      .img-link:before{
        content:"";
        display:inline-block;
        width:100%;
        height:100%;
        position:absolute;
        top:0px;
        left:0px;
        background-color:rgba(0,0,0,0.1);
        opacity: 0;
        .transition_all(.2s);
      }

      &:hover .img-link:before{
        opacity: 1;
      }
    }

  }
  .blog-info{
    padding:18px 18px 0px 18px;

    .postTitle{
      padding-bottom:10px;
      h2{
        a{
          font-size:116.67%;
        }
      }
    }
  }
}

.client-say{

  .item-client-say{

    .client-comment{
      font-style:italic;
    }

    .client-say-info{
      padding-top:20px;

      .image-client{
        width:65px;
        float:left;
      }

      .name-client{
        margin-left:78px;
        padding-top:10px;

        h2{
          a{
            font-size:116.67%;
            font-weight:bold;
            color:#ea3a3c;
            display:inline-block;
            padding:5px 0px;
          }
        }
      }
    }
  }

  .owl-controls{
    .owl-pagination{
      background-color: #eeeeee;
      margin: 0px -18px 0;
      padding: 5px 0px;
      position:relative;
      bottom:-20px;

      .owl-page{
        width:10px!important;
        height:10px!important;
        border:1px solid #eeeeee;
        background-color:#bbbbbb;
        margin:0 2px;

        &:hover{
          background-color:#999999;
          border:1px solid #fff;
        }
      }

      .owl-page.active{
        background-color:#999999;
        border:1px solid #fff;
      }
    }
  }

}

.faqs-block{
  .faq-wrapper{
    background-color:#eeeeee;
    margin:-20px -18px;

    .accordion.accordion-close{
      background-color:#fff;
      border-bottom:1px solid #ddd;
    }
    .accordion{
      font-size:100%;
      font-weight:bold;
      position:relative;
      line-height:38px;
      padding-left:47px;
      cursor: pointer;

      span{
        &:before{
          content:"";
          display:inline-block;
          width:17px;
          height:17px;
          position:absolute;
          left:22px;
          top:11px;
          background:url(../../images/show-c.png) no-repeat top left #999999;
        }
      }

    }

    .accordion-open{
      span{
        &:before{
          background-position: left bottom;
        }
      }
    }

    .container-accordion{
      padding:0 10px 10px 47px;
      border-bottom:1px solid #ddd;
    }

    .faq-item{
      &:last-child{
        .accordion,
        .container-accordion{
          border-bottom:none;
        }
      }
    }
  }
}

.block-brand{
  .block-title{
    .view-all-brand{
      display:inline-block;
      float:right;
      margin:11px 11px 0px 0px;

      &:after{
        content:"\f0da";
        font-family: FontAwesome;
        font-size:12px;
        margin-left:5px;
      }
    }
  }
  .brand-wrapper{
    margin:-20px -19px -21px -18px;
    line-height:0px;
    ul{
      display:inline-block;
      width:100%;
      li{
        float:left;
        width:50%;
        border-bottom:1px solid #ddd;
        border-right:1px solid #ddd;
        &:hover{
          position: relative;
          z-index:9;
        }
        a{
          img{
            width:100%;
            .transition_all(0.3s);

            &:hover{
              box-shadow:0 0 3px rgba(0, 0, 0, 0.3);
            }
          }
        }
      }
    }
  }
}

/*----------------------------------------------------------------------
|                              CSS FOR FOOTER                          |
-----------------------------------------------------------------------*/
.yt-footer-wrap {
  .footer-top {
    background-color: #444444;
    color: #fff;
    padding: 12px 0px 0px;


    .block-subscribe-footer {
      .title-block {
        display: inline-block;
        padding: 1px 0 0px 60px;
        background: url(../../images/icon-newletter-footer.png) no-repeat left center;

        h2 {
          font-size: 150%;
          font-weight: bold;
          margin: 2px 0 6px;
        }
      }

      .block-content {
        float: right;
        padding-top: 5px;

        .input-box,
        .actions {
          display: inline-block;
          vertical-align: top;
        }

        .input-box {
          margin-right: -3px;

          #newsletter {
            width: 270px;
            height:36px;
            background-color: #eeeeee;
            border: none;
          }
        }

        .actions{
          button{
            height:36px;
            line-height:36px;
          }
        }

      }
    }

    .socials-wrap {
      text-align: center;
      background-color: #3a3a3a;

      ul {
        li {
          display: inline-block;
          a {
            color: #fff;
            font-size: 18px;
            display: inline-block;
            margin: 0 5px;
            width: 32px;
            height: 32px;
            line-height: 32px;
            text-align: center;

            span {
              display: none;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    background-color: #dddddd;
    padding: 8px 0;
  }

  .footer-middle {
    background-color: #eeeeee;
    padding: 20px 0 21px;

    .col-footer {
      padding: 5px 0px 2px;
    }

    .footer-title {
      margin-bottom: 20px;

      h2 {
        font-size: 150%;
        font-weight: bold;
        color: #444;
      }
    }

    .content-block-footer {

      .icon-double-angle-right{
        margin-right: 5px;
      }

      .footer-logo {
        margin-bottom: 10px;
      }

      ul {
        li {
          padding-bottom: 9px;

          &:last-child {
            padding-bottom: 0px;
          }

          .sp-ic {
            width: 20px;
            display: inline-block;
            text-align: center;
          }
        }
      }

      .payment-method {
        padding-top: 25px;

        li {
          display: inline-block;
          margin-right: 7px;

          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }

    .contact-block {
      .content-block-footer {
        ul {
          li {
            padding-bottom: 5px;
            color: #444;
          }
        }
      }
    }
  }
}

/*----------------------------------------------------------------------
|                            END CSS FOR FOOTER                        |
-----------------------------------------------------------------------*/

/*------------------------back to top---------------------------------*/
#yt-totop {
  background: url("../../images/up-arrow.png") no-repeat scroll center center #333;
  bottom: 30px;
  height: 45px;
  overflow: hidden;
  position: fixed;
  right: 20px;
  width: 45px;
  z-index: 9999;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
}

/*-------------------------css for home page---------------------------*/

#yt_content .yt-slideshow {
  width: 100%;
  position: relative;

  .owl-controls{
    margin-top:0px!important;
  }
}

.owl-controls .owl-pagination {
  text-align: center;

  .owl-page {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin: 0 3px;
    background-color: #b4b4b4;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
  }
}

#confirmbox .btn-cart {
  background-image: url(../../images/btn-cart-bs.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.resp-tabs-container .owl-item {
  padding-left: 30px;
}

.owl-buttons .owl-next,
.owl-buttons .owl-prev {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-color: #575757;
  overflow:hidden;
  text-indent: -9999px;
  background-repeat:no-repeat;
  background-position:center center;
}

.owl-buttons .owl-next {
  background-image: url(../../images/btn-next-owl.png);
}

.owl-buttons .owl-prev {
  background-image: url(../../images/btn-prev-owl.png);
}

.resp-tab-content .btn-nav {
  position: absolute;
  top: 48%;
  z-index: 99;
}

.resp-tab-content .btn-nav.btn-prev {
  left: 0px;
}

.resp-tab-content .btn-nav.btn-next {
  right: 0px;
}

.resp-vtabs ul.resp-tabs-list {
  width: 170px !important;
}

.resp-vtabs .resp-tabs-container {
  margin-left: 169px;
  clear: inherit !important;
  float: none !important;
  width: auto !important;
  padding: 15px 20px !important;
}

.old-price .price {
  text-decoration: line-through;
}

.slider-ourmember .owl-item {
  padding-left: 30px;

  .sm_quickview_handler{
    display:none!important;
    left:9999px!important;
  }

  .item-inner{
    padding:0px;
    border:none!important;
  }
}

.wrapper-owl-slider {
  margin-left: -30px;
}

.overflow-owl-slider {
  overflow: hidden;
}

.our-member .owl-pagination {
  padding-left: 30px;
}

.over-flow-padding {
  overflow: hidden;
}

.carousel-dotted > li {
  width: 10px;
  height: 10px;
  background: #efefef;
  border-radius: 50%;
  display: inline-block;
  border: none;
  margin: 0px !important;
  margin-left: 2px;
}

.carousel-dotted > li.active {
  width: 10px;
  height: 10px;
}

.wrapper-client-say {
  background: #f7f7f7;
  padding-right: 10px;
}

.client-say-wrapper {
  margin-top: 26px;
  margin-bottom: 25px;
}

.client-image {
  width: 139px;
  float: left;
  position: relative;
}

.img-wrapper > a:before {
  background: rgba(0, 0, 0, 0.3);
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
}

.img-wrapper:hover > a:before {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
}

.btn-button-st:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.client-info {
  margin-left: 165px;
}

.des-client {
  font-size: 116.67%;
  padding: 10px 0px 15px 0px;
}

.carousel-dotted {
  width: auto;
  left: inherit;
  right: 0px;
  top: -58px;
}

.client-bottom > a {
  color: #000;
}

.client-bottom > a .color-client {
  font-weight: bold;
}

.shop-info .shop-info-wrapper {
  margin-top: 23px;
}

.shop-info .tt-info {
  color: #000;
}

.shop-info .info-list > li {
  padding: 5px 0 5px 35px;
  background-repeat: no-repeat;
  background-position: left center;
}

/*----------------------------------------------------------------------
|                     CSS BLOCK LEFT, RIGHT COLUMN                     |
-----------------------------------------------------------------------*/

#yt_left .block,
#yt_right .block,
.block-related{
  display: inline-block;
  width: 100%;
  margin-bottom: 34px;
  padding-left: 18px;
  padding-right: 18px;
  border: 1px solid #ddd;


  .block-title {
    position:relative;
    border-bottom: 3px solid;
    margin: -5px -19px 0px -19px;

    strong {
      display: inline-block;
      font-size: 133.33%;
      text-transform: uppercase;
      position: relative;
      color: #fff;
      line-height: 37px;
      padding: 0 18px;

      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        right: -20px;
        top: 0px;
        width: 0;
        height: 0;
        border-right: 20px solid transparent;
      }
    }
  }

  .block-content {
    padding: 20px 0px;
  }
}



.block-tags {
  .tags-list {
    li {
      float: left;
      margin-right: 5px;
      margin-bottom: 10px;

      a {
        font-size: 100% !important;
        color: #fff;
        background-color: #aaaaaa;
        display: inline-block;
        padding: 6px 9px;
      }
    }
  }

  .view-all-tag {
    clear: both;
    text-align: right;

    a {
      display: inline-block;
      background-repeat: no-repeat;
      background-position: right center;
      font-style: italic;
    }
  }
}

/*----------------------------------------------------------------------
|                   END CSS BLOCK LEFT, RIGHT COLUMN                   |
-----------------------------------------------------------------------*/

.btn-button-st {
  color: #fff !important;
  display: inline-block !important;
  margin-top: 10px;
  padding: 10px 15px !important;
  text-transform: uppercase;
}

.st-categories .category-wrap h2, .detail-st-img h2 {
  color: #000;
  margin: 15px 0 10px;
  text-transform: uppercase;
}

/*----------------------------------------------------------------------
|                              CSS BREACRUM                             |
-----------------------------------------------------------------------*/

.yt-breadcrumbs {
  margin-top:15px;

  .breadcrumbs {
    ul {
      li {
        display: inline-block;
        padding:0px 0px 0px 8px;
        vertical-align: top;

        &:first-child {
          padding-left: 0px;
          padding-right: 0px;
          &:before{
            font-family:fontawesome;
            content:"\F015";
            float:left;
            font-size:15px;
            margin-right:5px;
            left:0px;
            position:relative;
            top:-2px;
          }
        }

        &:last-child {
          background: none;
          &:after{
            display:none;
          }
        }

        strong {
          font-weight: normal;
        }

        &:after{
          font-family:fontawesome;
          content:"\F105";
          float:right;
          font-size:12px;
          margin-left:10px;
        }
      }
    }
  }
}

.breadcrumbs-style2 {
  background-color: #c9c9c9;
}

.breadcrumbs-style4 {
  border-top: 1px solid #e5e5e5;
}

/*----------------------------------------------------------------------
|                               PAGE TITLE                             |
-----------------------------------------------------------------------*/
#yt_wrapper .page-title {
  margin-bottom: 20px;

  h1 {
    font-size: 166.67%;
    text-transform: uppercase;
  }
}

.category-description {
  margin-bottom: 40px;
}

.category-description img {
  width: auto;
  max-width: 100%;
}

/*----------------------------------------------------------------------
|                               CSS RATING                             |
-----------------------------------------------------------------------*/


  .no-rating a {
    font-size: 91.67%;
    color: #909090;
  }


.ratings {
  padding: 0;
  direction: ltr;
  display: inline-block;
}

.rating-box {
  background: url(../../images/bkg_rating.png) 0px -25px repeat-x;
  height: 12px;
  position: relative;
  display: inline-block;
  width: 68px;
  float: left;
  margin-right: 18px;
  position:relative;
  top:4px;

  .rating {
    background: url(../../images/bkg_rating.png) 0 0 repeat-x;
    height: 12px;
    left: 0;
    position: absolute;
    top: -1px;
  }
}

.ratings .amount {
  display: inline-block;
  float: left;
}

.amount a {
  font-size: 91.67%;
  color: #909090;
}

.ratings-table {
  margin: 5px 0;
}

.ratings-table td,
.ratings-table th {
  padding: 3px 0;
}

.ratings-table td.label,
.ratings-table th {
  font-weight: bold;
  padding-right: 8px;
}

/*----------------------------------------------------------------------
|                                 TOOLBAR                              |
-----------------------------------------------------------------------*/

.toolbar {
  border: 1px solid #ddd;
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
  padding: 6px;

  .limiter-wrap label,
  .limiter-wrap .select-new,
  .sort-by-wrap .select-new {
    float: left;
  }

  .sort-by-wrap,
  .view-mode-wrap,
  .limiter-wrap {
    float: left;
  }
  .view-mode-wrap {
    margin-right:10px;

    .view-mode strong,
    .view-mode a {
      display: inline-block;
      float: left;
      width: 30px;
      height: 30px;
      overflow: hidden;
      text-indent: -9999px;
      background-repeat: no-repeat;
      .transition_all(.2s);
    }

    .view-mode strong,
    .view-mode a:hover {
      background-position: left bottom;
    }

  }

  .limiter-wrap,
  .sort-by-wrap,
  .pagination-wrap {
    position: relative;
    height: 30px;
  }

  .select-inner {
    background: url(../../images/bg-selectbox.png) no-repeat right 13px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    position: relative;
  }

  .limiter .select-inner {
    width: 51px;
  }

  .sort-by-wrap .select-inner {
    width: 91px;
  }

  .overwrite-sortby, .overwrite-limiter {
    color: #404040;
    padding: 0 19px 0 10px;
    height: 100%;
    line-height: 29px;
  }

  label {
    line-height: 30px;
    margin-right: 10px;
    font-weight: normal;
    float: left;
    color: #404040;
  }

  .limiter-wrap {
    margin-right: 20px;
    margin-left: 20px;
  }

  .select-inner {
    cursor: pointer;
    display: block !important;
    .transition_all(0.2s);

    &:hover {
      border: 1px solid #aaaaaa;
    }
  }

  .select-inner > ul {
    min-width: inherit;
    background: #fff;
    padding: 0 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    top: 27px;
    left: 0px;
    border: none;
    border-radius: 0;
    font-size: inherit;

    li a {
      display: block;
      padding: 5px 0px;
      color: inherit;
      border-bottom: 1px solid #ddd;

      &:hover {
        background: none;
      }
    }

    li:last-child {
      border-bottom: none;
    }
  }

  .pagination-wrap {
    float: right;

    .pagination {
      margin: 0;
      border-radius: 0;
      padding: 0;

      .pages {
        label {
          display: none;
        }

        ol {
          display: inline-block;

          li {
            display: inline-block;
            vertical-align: top;

            a {
              display: inline-block;
              height: 30px;
              line-height: 29px;
              min-width: 30px;
              border: 1px solid #ddd;
              padding: 0 10px;
              color: #404040;
              text-align: center;
              .transition_all(0.2s);

              &:hover {
                color: #fff;
              }
            }
          }
          li.current {
            a {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .btn-toolbar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }

  .btn-sortby {
    width: 16px;
    height: 30px;
    background-position: center center;
    display: inline-block;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    margin-left: 2px;
  }

  .set-desc {
    background-image: url(../../images/down-icon.png);
  }

  .set-asc {
    background-image: url(../../images/up-icon.png);
  }

}

/*----------------------------------------------------------------------
|                               END TOOLBAR                            |
-----------------------------------------------------------------------*/
.price-box{
  display:inline-block;
}
.old-price{
  display:inline-block;
  vertical-align: top;
  position:relative;
  margin-left:5px;

  .price-label{
    display:none;
  }
}

.special-price{
  display:inline-block;
  vertical-align: top;
  float:left;

  .price-label{
    display:none;
  }

  > .price{
    font-size:100%!important;
  }
}

.price-from,
.price-to{
  display:inline-block;

  .price{
    font-size:100%!important;
    font-weight: normal!important;
  }
}

/*----------------------------------------------------------------------
|                              LISTING - GRID                          |
-----------------------------------------------------------------------*/
.block-image-static {
  margin-bottom:30px;

  a {

    img {
      width: auto;
      max-width: 100%;
      .transition_all(.3s);
    }

    &:hover img{
      opacity: 0.8;
    }
  }
}

.respl-item {
  margin-bottom: 30px;

  .item-inner {
    padding: 15px;
    border: 1px solid #ddd;
    overflow: hidden;
    position: relative;

    &:hover {
      border: 1px solid #aaa;
    }

    .w-image-box {
      position: relative;

      .item-image {
        a img {
          width: 100%;
        }
      }

      .sale-item {
        width: 45px;
        height: 27px;
        background: url(../../images/sale-label-product.png) no-repeat top left;
        position: absolute;
        top: -8px;
        left: -8px;
        overflow: hidden;
        span {
          display: none;
        }
      }

      .new-item {
        width: 45px;
        height: 27px;
        background: url(../../images/new-label-product.png) no-repeat top left;
        position: absolute;
        top: -8px;
        right: -8px;
        overflow: hidden;
        span {
          display: none;
        }
      }
    }

    .item-info {
      position: relative;
      padding-top: 5px;

      .item-title {
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0px 0 2px;

        a {
          font-size: 116.67%;
          white-space: nowrap;
        }
      }

      .item-price {
        height:30px;
        line-height:30px;

        .price-box {
          .price {
            font-size: 150%;
            font-weight: bold;
            color: #ea3a3c;
          }

          .special-price {
            margin-right: 1px;
          }

          .old-price .price {
            font-size: 100%;
            font-weight: normal;
            color: #999;
            position: relative;
            top: 1px;
          }
        }

        .r-price-box{
          .price{
            font-size:100%;
            font-weight:normal;
          }
        }
      }

      .item-review {
        height:20px;
        padding-top:0px;
        margin-bottom:4px;
		margin-top:5px;

        .rating-box{
          top:0px;
        }

        .ratings {
          position:relative;
          top:3px;
          .amount {
            display: none;
          }
        }
      }

    }

    .btn-pd {
      display: inline-block!important;
      width: 30px;
      height: 30px;
      position: absolute;
      z-index: 20;
      background-color: #999999;
      overflow: hidden;
      text-indent: -9999px;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .btn-pd.btn-cart {
      background-image: url(../../images/btn-cart.png);
      top: 30px;
      right: -30px;
      transition: right 0.3s ease 0s, background-color 0.2s ease 0s;
      -webkit-transition: right 0.3s ease 0s, background-color 0.2s ease 0s;
      -o-transition: right 0.3s ease 0s, background-color 0.2s ease 0s;
    }

    .btn-pd.item-wishlist {
      background-image: url(../../images/btn-wishlist.png);
      top: 65px;
      right: -60px;
      transition: right 0.3s ease 0.1s, background-color 0.2s ease 0s;
      -webkit-transition: right 0.3s ease 0.1s, background-color 0.2s ease 0s;
      -o-transition: right 0.3s ease 0.1s, background-color 0.2s ease 0s;
    }

    .btn-pd.item-compare {
      background-image: url(../../images/btn-compare.png);
      top: 100px;
      right: -90px;
      transition: right 0.3s ease 0.2s, background-color 0.2s ease 0s;
      -webkit-transition: right 0.3s ease 0.2s, background-color 0.2s ease 0s;
      -o-transition: right 0.3s ease 0.2s, background-color 0.2s ease 0s;
    }

    .btn-pd.sm_quickview_handler {
      background-image: url(../../images/btn-quickview.png);
      top: 135px;
      right: -120px;
      transition: right 0.3s ease 0.3s, background-color 0.2s ease 0s;
      -webkit-transition: right 0.3s ease 0.3s, background-color 0.2s ease 0s;
      -o-transition: right 0.3s ease 0.3s, background-color 0.2s ease 0s;
    }

    &:hover {
      .btn-pd {
        right: 7px;
      }
    }
  }
}

/*----------------------------------------------------------------------
|                           END LISTING - GRID                         |
-----------------------------------------------------------------------*/

/*----------------------------------------------------------------------
|                        CUSTOM NAVIGATION SLIDER                       |
-----------------------------------------------------------------------*/
.mutil-col-slider {
  position: relative;
}

.customNavigation .btn-nav {
  width: 46px;
  height: 46px;
  background-color: #999999;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -23px;
  z-index: 9;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: background-color 0.2s ease 0s;
  -webkit-transition: background-color 0.2s ease 0s;
  -moz-transition: background-color 0.2s ease 0s;
}

.customNavigation .btn-nav.btn-next {
  background-image: url(../../images/btn-next-owl.png);
  right: -23px;
}

.customNavigation .btn-nav.btn-prev {
  background-image: url(../../images/btn-prev-owl.png);
  left: -23px;
}

/*----------------------------------------------------------------------
|                     END CUSTOM NAVIGATION SLIDER                     |
-----------------------------------------------------------------------*/

/*----------------------------------------------------------------------
|                             LISTING - LIST                           |
-----------------------------------------------------------------------*/
.new-product{
   width: 45px;
  height: 27px;
  background: url(../../images/new-label-product.png) no-repeat top left;
  position: absolute;
  overflow: hidden;
  text-indent: -999px;
  right:0;
  top:0;
}
.sale-product{
  left:0;
  top:0;
  width: 45px;
  height: 27px;
  background: url(../../images/sale-label-product.png) no-repeat top left;
  position: absolute;
  overflow: hidden;
  text-indent: -999px;
}
.sale-item {
  width: 45px;
  height: 27px;
  background: url(../../images/sale-label-product.png) no-repeat top left;
  position: absolute;
  overflow: hidden;
  span {
    display: none;
  }
}

.new-item {
  width: 45px;
  height: 27px;
  background: url(../../images/new-label-product.png) no-repeat top left;
  position: absolute;
  overflow: hidden;
  span {
    display: none;
  }
}
.products-list {
  .respl-item-list {
    margin-bottom: 30px;

    .item-inner {
      position: relative;
      padding:0;
      border:none;
    }
    .w-image-box {
      float: left;
      width: 194px;
      border: 1px solid #ddd;
      position: relative;

      &:hover{
        border-color: #aaaaaa;
      }

      .sale-item {
        top: 7px;
        left: 7px;
      }

      .new-item {
        top: 7px;
        right: 7px;
      }

      .item-image {
        position: relative;

        a {
          display: block;

          img {
            width: 100%;
          }
        }

        .sm_quickview_handler {
          display:inline-block!important;
          width:30px;
          height:30px;
          overflow:hidden;
          text-indent:-9999px;
          position:absolute;
          left:50%;
          margin-left:-15px;
          top:50%;
          margin-top:-15px;
          background: url(../../images/btn-quickview.png) no-repeat 10px 9px #999;
          .transition_all(0.3s);
          .transform_scale(0);

          span{
            display:none;
          }
        }

        &:hover{
          .sm_quickview_handler{
            .transform_scale(1);
          }
        }
      }
    }

    .product-shop {
      margin-left: 224px;

      .f-fix{

        .product-name {
          margin:3px 0 5px;

          a {
            font-size: 116.67%;
          }
        }

        .item-price {
          height:30px;
          line-height:30px;

          .price-box {
            .price {
              font-size: 150%;
              font-weight: bold;
              color: #ea3a3c;
            }

            .special-price {
              margin-right: 1px;
            }

            .old-price .price {
              font-size: 100%;
              font-weight: normal;
              color: #999;
              position: relative;
              top:2px;
              margin-left:5px;
            }
          }
        }

        .item-review {
          .rating-box{
            margin-bottom:5px;
          }

          .amount {
            display: none;
          }

          .no-rating{
            position:relative;
            top:-3px;
          }

          .rating-links{
            display:none;
          }
        }

        .desc{
          padding:5px 0px 0px;
        }

        .list-action{
          padding:15px 0px 0px;

          .btn-cart{
            height:30px;
            line-height:30px;
            color:#fff;
            text-transform:uppercase;
            padding:0px 8px 0px 30px;
            background:url(../../images/btn-cart.png) no-repeat 8px center #999999;
            display:inline-block;
            vertical-align: top;
            margin-right:3px;
            .transition_all(.3s);
          }

          .item-wishlist,
          .item-compare{
            display:inline-block!important;
            width:30px;
            height:30px;
            background-position:center center;
            background-repeat:no-repeat;
            background-color:#999999;
            vertical-align: top;
            margin-right:3px;
            .transition_all(.3s);
            span{
              display:none;
            }
          }

          .item-wishlist {
            background-image: url(../../images/btn-wishlist.png);
          }

          .item-compare {
            background-image: url(../../images/btn-compare.png);
          }

        }
      }

    }
  }
}

/*----------------------------------------------------------------------
|                           END LISTING - LIST                         |
-----------------------------------------------------------------------*/

/*----------------------------------------------------------------------
|                              LOGIN PAGE                              |
-----------------------------------------------------------------------*/
.account-login {
  .cus-wrapper-login,
  .reg-container {
    border: 1px solid #d9d9d9;
    min-height: 282px;
    padding: 15px 15px 10px;
  }

  .cus-wrapper-login .input-text,
  .reg-container .input-text {
    width: 100%;
  }

  .content > h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 117%;
    font-family: inherit;
    border-bottom: medium double #f6f6f6;
    display: inline-block;
    padding-bottom: 5px;
  }
}

/*----------------------------------------------------------------------
|                            END LOGIN PAGE                            |
-----------------------------------------------------------------------*/

/*----------------------------------------------------------------------
|                              DETAIL PAGE                             |
-----------------------------------------------------------------------*/
.product-tags > li {
  display: inline-block;
  margin-right: 5px;
}

#yt_tab_reviewform .box-reviews dl dd {
  margin-bottom: 10px;
}


.yt-product-detail {
  .qty-set{
    margin-right:15px;
  }
  .tier-prices{
    margin-bottom:20px;
    background-color:#fafafa;
    padding:5px 10px;
    li{
      padding:5px 0px;
    }
  }
  .image-box-detail {
    margin-bottom: 30px;
  }

  .box-collateral.box-tags > h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight:bold;
  }

  .box-collateral.box-tags > h3 {
    font-family: inherit;
    margin-bottom: 5px;
  }

  .box-collateral.box-tags .input-text {
    width: 100%;
    margin-bottom: 5px;
  }

  .yt-detail-right {
    margin-bottom: 30px;

    .add-to-cart{
      float:left;

      .btn-cart{
        float: left;
        background-image: url(../../images/btn-cart.png);
        background-repeat:no-repeat;
        padding-left:30px;
        background-position:9px center;
      }
    }

    .short-description {
      li {
        display: inline-block;

        &:after {
          content: ".";
        }
      }
    }

    .availability {
      font-weight: bold;
      color:#444;
    }

    .like-social {
      display: inline-block;
      width: 100%;
      padding-top:20px;
    }

    .product-shop {

      .buttons-set {
        margin-top: 20px;
      }

      .product-name {
        font-size: 166.67%;
        margin-bottom: 8px;
        font-weight:bold;
        color:#444;
      }

      .product-review {
        margin:13px 0 10px;
      }


      .short-description {
        clear: both;
        margin: 0px 0 20px;

        .quick-overview{
          font-weight:bold;
          font-size:116.67%;
          margin-bottom:7px;
          color:#444;
        }
      }



      .price-box-bundle{
        .price-box{
          margin:15px 0px 0px;
        }
      }
      .price-box {
        margin: 12px 0 15px;

        .regular-price {
          .price {
            font-size: 150%;
            font-weight:bold;
          }
        }

        .special-price {
          margin-right: 10px;
          font-weight:bold;

          .price {
            font-size: 150%;
          }
        }

        .old-price{
          top:6px;

          .price {
            font-size: 100%;
            font-weight:normal;
            color:#999999;
          }
        }

      }


    }

    .product-options {
      margin: 0 -15px;

      .w-option {
        padding: 0 15px;
        width: 50%;
        float: left;
      }

      label {
        font-weight: normal;
        margin-bottom: 2px;
      }

      dd,
      select,
      .options-list {
        margin-bottom: 5px;
      }

      .selector {
        position: relative;
        width: 100% !important;

        span {
          display: inline-block;
          padding: 0 43px 0 10px;
          width: 100% !important;
          line-height: 31px;
          background: url("../../images/select-btn-detail.png") no-repeat right top #fff;
          border: 1px solid #ccc;
        }

        select {
          opacity: 0;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height:33px;
        }
      }
    }

    .quantity-input.qty {
      height: 30px;
      line-height: 30px;
      text-align: center;
      width: 38px;
      float: left;
      padding: 0;
      margin-left: -1px;
      font-size: 107.14%;
      border: 1px solid #ddd;
    }

    .wrap-qty {
      float: left;
      margin-right: 5px;
    }

    .qty-title {
      display: inline-block;
      float: left;
      line-height: 30px;
      margin-right: 7px;
      text-transform: uppercase;
      font-weight: bold;
    }



    .product-add-box {
      float: left;

      .add-to-links {
        li {
          margin-left: 5px;
          float: left;

          a {
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: #999999;
            background-repeat: no-repeat;
            background-position: center center;
            overflow: hidden;
            text-indent: -9999px;
            .transition_all(0.2s);
          }

          .link-wishlist {
            background-image: url(../../images/btn-wishlist.png);
          }

          .link-compare {
            background-image: url(../../images/btn-compare.png);
          }
        }
      }
    }

  }

  .jCarouselLite li {
    margin-bottom: 11px;
  }

  .popup-btn.hidden-phone {
    position: absolute;
    right: 3px;
    bottom: 3px;
    display: inline-block;
    z-index: 9999;

    a {
      background: url(../../images/icon-zoom.png) no-repeat center center;
      line-height: 100%;
      text-align: center;
      display: inline-block;
      width: 38px;
      height: 38px;
      overflow: hidden;
      text-indent: -999em;
    }
  }

  .product-img-box {
    position: relative;
    z-index: 1;
    float: left;
    width: 100%;

    .yt-detail-image {
      position: relative;
      direction: ltr;
      margin-left: 109px;
    }

    .more-views {
      width: 98px;
      float: left;
      position: relative;
      top:18px;

      ul li img {
        border: 1px solid #ddd;
      }

      .btn_thumb {
        display: inline-block;
        width: 30px;
        height: 30px;
        color:#999;
        line-height:30px;
        text-align:center;
        font-size:20px;
        overflow: hidden;
        position: absolute;
        left: 37px;
        z-index: 9;
        cursor: pointer;
        .transition_all(0.2s);
      }

      .next {
        bottom: -18px;
      }

      .prev {
        top: -31px;
      }
    }
  }

  .product-image-zoom .product-image-zoom {
    position: relative;
    border:1px solid #ddd;

    #wrap img {
      width: 100%;
    }

    .cloud-zoom {
      overflow: hidden;
    }

    .mousetrap {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

#yt_tab_reviewform .box-reviews {
  h2 {
    text-transform: uppercase;
    margin: 4px 0px 20px 0px;
    font-weight:bold;
  }

  dl {
    margin-bottom: 20px;
  }
}

.upsell-product-wrapper{
  clear:both;
  padding-top:30px;

  .upsell-wrapper-slider{
    position:relative;

    .button-default{
      position:absolute;
      top:40%;
    }

    .prev-upsell{
      left:-18px;
    }

    .next-upsell{
      right:-18px;
    }
  }

  .border-cat{
    box-shadow:0 0 1px #868585 inset;
    -webkit-box-shadow:0 0 1px #868585 inset;
    -moz-box-shadow:0 0 1px #868585 inset;

    .respl-item{
      margin-bottom:0px;

      .item-inner{
        border:1px solid transparent;

        &:hover{
          border:1px solid #aaa;
        }
      }
    }

  }

  .block-title-default{
    margin-bottom:30px;
  }
}

/*=============================MENU HOME======================*/
.home-wrapper-item{
  padding: 0 20px;

  .item-feature{
    float:left;
    width:50%;
    padding:0 10px;

    .title-item-feature{
      margin-bottom:12px;
      margin-top:4px;

      h2{
        font-weight:bold;
      }

    }

    > ul{
      > li{
        display:block;
        float:none;
        a{
          display:block;
          padding:6px 0px;
        }
      }
    }
  }

  .layout-block{
    border-right:1px solid #ddd;
  }

  .color-block{
    padding-left:30px;

    ul{
      li{
        float:left;
        margin-right:10px;
        margin-top:4px;

        a{
          display:inline-block;
          width:40px;
          height:40px;
          overflow:hidden;
          text-indent:-9999px;
          .transition_all(.3s);

          &:hover{
            box-shadow:3px 3px 0px 0px rgba(0,0,0,0.3);
            -webkit-box-shadow:3px 3px 0px 0px rgba(0,0,0,0.3);
            -moz-box-shadow:3px 3px 0px 0px rgba(0,0,0,0.3);
          }
        }
      }

      .red{
        a{
          background-color:#ea3a3c;
        }
      }

      .green{
        a{
          background-color:#20bc5a;
        }
      }

      .blue{
        a{
          background-color:#5f87d1;
        }
      }

      .orange{
        a{
          background-color:#f8ab16;
        }
      }

      .cyan{
        a{
          background-color:#009688;
        }
      }
    }
  }
}
/*=================END MENU HOME===============*/
.customer-review > h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight:bold;
}

#product-options-wrapper dd .qty-holder {
  display: inline-block;
  margin-top: 10px;

  label {
    font-weight: normal;
    margin-right: 6px;
  }

}

#yt_tab_custom img {
  width: auto;
  max-width: 100%;
}

/***-----content-----***/

.yt-product-detail .yt-detail-right .add-to-holder,
.yt-product-detail .yt-detail-right .add-to-box {
  margin-top: 5px;
}

.yt-product-detail .yt-detail-right .add-to-holder .price-box {
  display: none;
}

.qty-set {
  display: inline-block;
  position: relative;
  margin-right:0px;
}

/***----product type----***/
.bundle-product {
  .product-options {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

.product-options ul.options-list .label {
  color: #909090;
  font-size: 100%;
  line-height: 170%;
  padding: 0;
}

#product-options-wrapper.product-options dd {
  margin-bottom: 15px;
}

#product-options-wrapper.product-options .validation-advice {
  min-width: 200px;
  color: red;
}

#product-options-wrapper ul.options-list label {
  font-weight: normal;
}

#downloadable-links-list > li {
  margin: 5px 0px;
}

.data-table.grouped-items-table {
  margin-bottom: 15px;
}

.data-table.grouped-items-table tr td,
.data-table.grouped-items-table input.input-text,
#product-options-wrapper .qty-holder input.input-text {
  text-align: center;
}

#product-options-wrapper .qty-holder input.input-text {
  width: 50px;
}

.yt-product-detail .price-as-configured {
  margin-bottom: 15px;
  margin-top: 10px;
}

/***-----tabs-----***/

.yt-product-detail {
  .tab-product-detail {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    position:relative;
    top:-3px;

    .box-tags .note {
      padding-top: 5px;
    }

    .product-tags {
      margin-bottom: 10px;

      li:after {
        content: ",";
      }
    }

    #yt_tab_reviewform input[type="radio"] {
      margin: 0 0 0 48%;
    }

    .yt-tab-content {
      #customer-reviews .pager {
        padding: 5px 10px;
        border: 1px solid #E9E9E9;
        line-height: 230%;
        margin: 10px 0 20px 0;
        border-bottom: 4px solid #e9e9e9;

        .amount {
          float: left;

          strong {
            font-weight: normal;
          }
        }

        .limiter {
          float: right;

          select {
            margin: 0 10px;
          }
        }
      }

      #yt_tab_reviewform .form-add .customer-review {
        margin-bottom: 30px;
      }

      #customer-reviews dl dd {
        padding-bottom: 10px;
        border-bottom: 1px solid #E9E9E9;
        margin-bottom: 10px;

        &:last-child {
          border: none;
        }
      }
    }
  }
}

/*----------------------------------------------------------------------
|                            END DETAIL PAGE                           |
-----------------------------------------------------------------------*/

/*----------------------------------------------------------------------
|                               CONTACT US                             |
-----------------------------------------------------------------------*/
.block-map {
  margin-bottom: 20px;
}

.contact-map-wrap #map {
  height: 297px;
  border: 6px solid #ececec;
}

.form-wrapper {
  .input-box {

    .input-text {
      width: 100%;
      max-width: 395px;
    }

    #comment {
      width: 100%;
      max-width: none;
    }

  }

  li .field {
    margin-bottom: 10px;
  }

  .form-list li {
    margin-bottom: 0px;
  }
}

.store-info {
  .list-info {
    .item-info {
      padding-left: 52px;
      position: relative;
      margin-bottom: 20px;

      > div:before {
        content: "";
        width: 34px;
        height: 34px;
        display: inline-block;
        background-color: #f0f0f0;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        left: 0px;
        top: 0px;
        border-radius: 50%;
      }

      .info-content {
        > h2 {
          text-transform: uppercase;
          font-size: 116.67%;
        }

        .des-info {
          line-height: 18px;
          padding-top: 5px;
        }
      }
    }

    .item-info.main-info > div:before {
      background-image: url(../../images/add_contact.png);
    }

    .item-info.email-info > div:before {
      background-image: url(../../images/email_contact.png);
    }

    .item-info.phone-info > div:before {
      background-image: url(../../images/phone_contact.png);
    }
  }
}

.contact-form {
  .buttons-set {
    border: none;

    .button {
      float: left;
      margin-left: 0px;
    }
  }
}

/*----------------------------------------------------------------------
|                             END CONTACT US                           |
-----------------------------------------------------------------------*/

/*----------------------------------------------------------------------
|                               ABOUT US                               |
-----------------------------------------------------------------------*/
.cms-about-us {
  .page-title-blog {
    margin-top: 0px;
    margin-bottom: 25px;
  }
}
.title-about-us{
  background: url(../../images/bg-title-about.png) repeat-x left center;
  margin-bottom:17px;
}
.title-about-us h2 {
  background: #fff;
  display: inline-block;
  font-size: 166.67%;
  padding: 0 25px 6px 0;
}

.welcome-about-us {
  .image-about-us {
    float: left;
    width: 270px;
    padding-top: 6px;
  }

  .des-about-us {
    margin-left: 300px;
    line-height: 18px;
  }
}

.our-member {
  clear: both;
  padding-top: 30px;

  .owl-nav {
    display: none !important;
  }

  .sm_quickview_handler {
    display: none !important;
  }

  .owl-controls {
    position: absolute;
    top: -45px;
    left: 0px;
    width: 100%;
  }

  .title-about-us {
    background: url(../../images/bg-title-about.png) repeat-x left center;
    margin-bottom: 17px;
    text-align: center;

    h2 {
      padding: 0 15px 6px 15px;
      font-size: 166.67%;
    }
  }

  .short-des {
    text-align: center;
    color: #909090;
    margin-bottom: 5px;
  }

  .overflow-owl-slider {
    padding-top: 50px;
  }

  .respl-item {
    .w-image-box {
      border-radius: 3px;
      overflow: hidden;

      .cl-nw {
        display: inline-block;
        width: 25px;
        height: 25px;
        background-position: left top;
        background-repeat: no-repeat;
        position: absolute;
        bottom: -40px;
        left: 50%;
        margin-left: -12px;
        overflow: hidden;
        text-indent: -9999px;
        z-index: 10;
        border-radius: 50%;
      }

      .cl-nw.cl-facebook {
        background-image: url(../../images/cl_facebook.png);
        margin-left: -42px;
        transition: all 0.3s ease 0s;
        -web-kit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
      }

      .cl-nw.cl-flickr {
        background-image: url(../../images/cl_flickr.png);
        transition: all 0.5s ease 0s;
        -web-kit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
      }

      .cl-nw.cl-twitter {
        background-image: url(../../images/cl_twitter.png);
        margin-left: 18px;
        transition: all 0.7s ease 0s;
        -web-kit-transition: all 0.7s ease 0s;
        -moz-transition: all 0.7s ease 0s;
      }

      &:hover .cl-nw {
        bottom: 28px;

      }
    }

    .info-member {
      text-align: center;
      padding-top: 10px;

      .cl-name > a {
        font-size: 133.33%;
      }

      .cl-job {
        padding: 3px 0px 2px;
      }

      .cl-des {
        color: #909090;
      }
    }
  }
}

.why-list {
  li {
    position: relative;
    padding-left: 29px;

    &:before {
      content: "";
      width: 14px;
      height: 12px;
      display: inline-block;
      position: absolute;
      left: 0px;
      top: 10px;
      background-repeat: no-repeat;
      background-position: top left;
      background-image: url(../../images/icon-whylist.png);
    }

    a {
      display: block;
      padding: 5px 0 7px;
      background: url("../../images/border-bottom-bs.png") repeat-x left bottom;
    }

    &:last-child > a {
      background: none;
    }
  }
}

.happy-about-us {
  clear: both;
  padding-top: 45px;

  .happy-ab {
    border: 1px solid #e9e9e9;
    padding: 33px 8px 20px;

    .title-happy-about {
      background: #fff;
      display: inline-block;
      left: 20px;
      padding: 5px 10px;
      position: absolute;
      top: -17px;

      h2 {
        font-size: 150%;
        position: relative;
        top: -2px;
        color: #444;
      }
    }

    .ct-why {
      padding: 0 10px 0 25px;
      position: relative;

      .client-say {
        font-size: 107.69%;
        color: #909090;
        margin-bottom: 10px;
      }

      .client-info-about {
        color: #000;

        .name {
          font-size: 133.33%;
        }
      }
    }
  }

  .owl-controls {
    background: #fff;
    padding: 0 5px;
    position: absolute;
    right: 2px;
    top: -57px;
  }

  .owl-controls .owl-prev,
  .owl-controls .owl-next {
    border: none;
    display: inline-block;
    width: 26px !important;
    height: 26px !important;
    background-position: left top;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    background-color: transparent !important;
    top: 0px;
    margin: 0 3px;
    position: relative;
  }

  .owl-controls .owl-prev {
    background-image: url(../../images/btn-prev-hp.png) !important;
    margin-right: 3px;
    right: 0px !important;
    left: inherit !important;
  }

  .owl-controls .owl-nav {
    width: 68px;
    display: inline-block;
    height: 26px;
    background: #fff;
  }

  .owl-controls .owl-next {
    background-image: url(../../images/btn-next-hp.png) !important;
    right: 0px !important;
  }

  .item > div:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 12px;
    left: 0px;
    top: 6px;
  }

  .owl-dots {
    display: none !important;
  }
}

/*----------------------------------------------------------------------
|                             END ABOUT US                             |
-----------------------------------------------------------------------*/
/***---------------------------------other page---------------------------***/
.contacts-index-index #yt_main > .container {
  background: none;
  margin-bottom: 5px;
  padding-bottom: 0px;
}

.blog-index-list .toolbar > div:before {
  display: none;
}

.toolbar-bottom .toolbar > div:before {
  display: none !important;
}

.cms-home .menu-on-top .yt-header-under-wrap .yt-main-menu {
  padding-left: 0px;
  padding-right: 0px;
}

.listing-tabs-slider {
  .slider-tabl {
    .respl-item {
      width: 100% !important;
    }
  }
}

/***----check out----***/
.crosssell {
  margin-top: 20px;

  h2 {
    margin-bottom: 15px;
  }
}

#yt_wrapper .cart form,
#yt_wrapper .cart .title-buttons {
  float: left;
  width: 100%;
}

#yt_wrapper .cart .title-buttons > .page-title {
  float: left;
}

#yt_wrapper .checkout-types {
  margin-bottom: 20px;
  text-align: right;
}

#yt_wrapper .cart-collaterals .totals,
#yt_wrapper .cart-collaterals .col2-set #discount-coupon-form,
#yt_wrapper .cart-collaterals .col2-set .shipping {
  border: 1px solid #e9e9e9;
  padding: 15px;
  margin-top: 20px;
  float: left;
  width: 100%;
  line-height: 200%;
}

#yt_wrapper #shipping-zip-form,
#yt_wrapper #checkout-payment-method-load dt {
  line-height: 170%;
}

#yt_wrapper .cart-collaterals .totals td {
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  padding-right: 0px;
}

#yt_wrapper .cart-collaterals .totals .checkout-types {
  margin: 5px 0 0;
  text-align: right;
}

.totals > table {
  width: 100%;
  text-align: right;
}

#yt_wrapper .cart-collaterals .totals .checkout-types .btn-proceed-checkout {
  margin-bottom: 5px;
}

/***----check out one page----***/

#checkout-progress-wrapper .block-content dt {
  border: 1px solid #E9E9E9;
  font-weight: normal;
  padding: 7px;
  margin-top: 10px;
}

.block-progress #billing-progress-opcheckout dt{
  margin-top:0px;
}

#checkout-progress-wrapper .block-content dd.complete {
  padding: 10px;
  border: 1px solid #E9E9E9;
  border-top: none;
}

#checkoutSteps > li {
  position: relative;
  margin-bottom: 10px;
  float: left;
  width: 100%;
}

#checkoutSteps .step-title {
  background: #777;
  color: #fff;
  line-height: 100%;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

#checkout-step-payment .input-text,
#checkout-step-payment select {
  max-width: 300px;
}

label em {
  float: right;
}

#checkoutSteps .step-title > span.number {
  font-weight: bold;
  float: left;
  margin-right: 10px;
  font-size: 130%;
  line-height: 100%
}

#checkoutSteps .step-title > h2,
#checkoutSteps .step-title > span {
  font-size: 120%;
  line-height: 110%;
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
}

#checkoutSteps.opc .step-title a {
  display: none;
}

#checkoutSteps > li > div {
  padding: 20px;
  border: 1px solid #e1e1e1;
  border-top: none;
  float: left;
  width: 100%;
  background: #fff;
}

.item-options > dt,
.item-options > dd {
  display: inline-block;
}

#checkoutSteps .input-text,
#checkoutSteps select {
  width: 100%;
}

#checkoutSteps .col2-set > div:first-child {
  padding-left: 0;
}

#checkoutSteps .col2-set > div:last-child {
  padding-right: 0;
}

#checkoutSteps h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

#checkoutSteps .col2-set .buttons-set .button {
  float: right;
}

#payment_form_ccsave {
  margin-top: 15px;
}

#payment_form_ccsave .v-fix {
  float: left;
  margin-right: 10px;
}

#login-form .buttons-set .f-left {
  margin-top: 10px;
  display: inline-block;
}

#checkoutSteps #opc-login .buttons-set .f-left {
  float: left;
  width: auto;
  margin-top: 10px;
}

#checkoutSteps .please-wait {
  float: right;
  margin-right: 10px;
  margin-top: 7px;
}

/***----checkout multi address----***/
#checkout-progress-state {
  margin-bottom: 20px;
}

#checkout-progress-state > li {
  background: #777;
  color: #FFFFFF;
  float: left;
  padding: 5px 0;
  text-align: center;
  width: 20%;
}

#checkout_multishipping_form .multiple-checkout .title-buttons {
  float: left;
  width: 100%;
}

#checkout_multishipping_form .multiple-checkout .title-buttons .page-title {
  float: left;
}

.multiple-checkout .button {
  float: right;
}

#checkout_multishipping_form #multiship-addresses-table {
  margin-top: 15px;
}

.multiple-checkout h2.legend {
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.multiple-checkout h3.legend {
  font-weight: bold;
  margin-bottom: 10px;
}

.multiple-checkout .col-wide h3,
.multiple-checkout .col-wide h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

.multiple-checkout .box-title {
  background: #777;
}

.multiple-checkout .box .box-content {
  padding: 15px;
  border: 1px solid #e9e9e9;
  margin-bottom: 15px;
}

.multiple-checkout .messages {
  float: none;
}

#multishipping-billing-form .sp-methods dt {
  line-height: 170%;
}

.multiple-checkout .box-title > h3,
.multiple-checkout .box-title > h2,
.multiple-checkout .box-title > h4 {
  color: #ffffff;
  line-height: 100%;
  padding: 8px;
}

.multiple-checkout .box-title > h3 > a,
.multiple-checkout .box-title > h2 > a,
.multiple-checkout .box-title > h4 > a {
  color: #ffffff;
}

#checkout-review-submit .place-order .grand-total {
  float: right;
}

#checkout-review-submit .place-order .grand-total big {
  line-height: 200%;
  font-size: 120%;
}

/***---------wishlist----------***/
#yt_wrapper #yt_left .block-account .title-header {
  position: relative;
}

.my-account .input-text,
.my-account select {
  width: 100% !important;
}
.my-account .my-tag-edit .btn-remove:hover{
  color:#fff;
}
.block-account .block-content a {
  border-bottom: 1px solid #f3f3f3;
  display: block;
  padding: 7px 0;
}

.my-account .product-name {
  font-weight: bold;
  margin: 5px 0;
  font-family: inherit;
}

.my-account > .title-buttons {
  float: left;
  width: 100%;
}

.my-account #wishlist-view-form .buttons-set {
  float: right;
}

.my-account #wishlist-view-form textarea {
  width: 100%;
  margin-top: 5px;
}

.my-account #wishlist-view-form .price-box {
  font-size: 116.67%;
  margin-bottom: 5px;
}

.my-account > #form-validate > .buttons-set {
  display: inline-block;
  width: 100%;
}

.my-account > #form-validate > .buttons-set .back-link {
  float: left;
}

.my-account .box-account {
  margin-top: 10px;
}

.my-account .box-account .box-head {
  background: none repeat scroll 0 0 #777777;
  color: #FFFFFF;
  line-height: 100%;
  padding: 10px;
}

.my-account .box-account .box-head > h2 {
  float: left;
  font-family: inherit;
  text-transform: uppercase;
}

.success-msg {
  background: #23b1fa;
  color: #fff;
  border-radius: 3px;
  padding: 5px 10px;
}

.my-account .box-account .box-head > a {
  float: right;
  color: #fff;
}

#checkout-step-login #login-form {
  margin-left: 0;
}

.my-account .col2-set .col-1,
.account-login .col2-set .col-1 {
  float: left;
  width: 50%;
}

.title-buttons > h1 {
  float: left;
}

.my-account .col2-set .col-2,
.account-login .col2-set .col-2 {
  float: right;
  width: 50%;
  padding-left: 30px;
}

.my-account .data-table {
  width: 100%;
  margin-bottom: 10px;
}

.my-account .data-table#my-orders-table {
  margin-top: 10px;
  margin-bottom: 20px;
}

.my-account .data-table .input-text.qty {
  width: 36px !important;
  margin-bottom: 10px;
}

.my-account .data-table .link-edit {
  float: left;
  margin-top: 5px;
  width: 100%;
}

.my-account .box-title {
  overflow: hidden;
  border-bottom: 1px dashed #E9E9E9;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.my-account .box-title > h3 {
  line-height: 180%;
  font-weight: bold;
  float: left;
  font-family: inherit;
}

.my-account .box-title > a {
  float: right;
  line-height: 180%;
}

.my-account .box-title > a:hover {
  text-decoration: underline;
}

.my-account .box-content h4 {
  line-height: 180%;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: inherit;
}

.my-account .box-account .number {
  background: none repeat scroll 0 0 #777777;
  color: #fff;
  float: left;
  line-height: 100%;
  margin: 0 10px 0 0;
  padding: 2px 5px;
}

#my_recent_tags .product-name {
  bottom: -2px;
  margin: 5px 0;
  position: relative;
}

.cms-index-index .note-mes .messages {
  margin-bottom: 0px;
  margin-top: 20px;
}

.sm-deal-wrap-home-v2 {
  margin-top: 20px;
}

.effect-deal .item-title a {
  text-transform: uppercase;
}

.effect-deal {
  width: 200%;
  display: inline-block;
  margin-left: -100%;
  -moz-transition: all 0.3s ease-in-out .3s;
  -webkit-transition: all 0.3s ease-in-out .3s;
  -o-transition: all 0.3s ease-in-out .3s;
  -ms-transition: all 0.3s ease-in-out .3s;
  transition: all 0.3s ease-in-out .3s;
}

.effect-deal:hover {
  margin-left: 0px;
}

.effect-wrapper:hover .title-deal {
  opacity: 0;
}

.effect-wrapper .item-inner {
  overflow: hidden;
}

.effect-deal .w-image-box,
.effect-deal .item-info {
  width: 50%;
  float: left;
}

.effect-deal .item-info {
  padding: 10px 15px 0px 15px;
}

.effect-wrapper .owl-controls.clickable {
  top: 0px !important;
  position: static !important;
}

.effect-wrapper .owl-controls .owl-next,
.effect-wrapper .owl-controls .owl-prev {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  border: 1px solid #ccc;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transition: transform 0.3s ease 0s, background-color 0.3s ease 0s;
  -webkit-transition: transform 0.3s ease 0s, background-color 0.3s ease 0s;
  -moz-transition: transform 0.3s ease 0s, background-color 0.3s ease 0s;
}

.effect-wrapper:hover .owl-controls .owl-next,
.effect-wrapper:hover .owl-controls .owl-prev {
  transform: scale(0);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
}

.effect-wrapper .owl-controls .owl-next {
  right: -12px;
}

.effect-wrapper .owl-controls .owl-prev {
  left: -12px;
}

#my_recent_tags,
#my_recent_reviews {
  padding-top: 10px;
}

.my-account .box-account .ratings > strong {
  float: left;
  margin: 3px 10px 0 0px;
  line-height: 110%;
}

.fieldset {
  margin-bottom: 20px;
}

.account-create .input-text {
  width: 100% !important;
}

.links-second a {
  cursor: pointer;
}

.fieldset .legend {
  font-weight: bold;
  text-transform: uppercase;
  font-family: inherit;
  margin-bottom: 10px;
  border-bottom: medium double #f6f6f6;
  display: inline-block;
  padding-bottom: 5px;
  font-size: 117%;
}

.buttons-set {
  border-top: 1px solid #e9e9e9;
  text-align: right;
  margin-top: 10px;
  padding-top: 10px;
}

.buttons-set .button {
  float: right;
  margin-left: 5px;
}

.my-account .buttons-set.buttons-set2 {
  border: none;
  padding: 0;
  margin: 0;
}

.buttons-set .back-link {
  float: left;
  margin: 0;
}

.my-account .form-list .field {
  float: left;
  width: 50%;
}

.col2-set .content > h2 {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-list li {
  margin-bottom: 5px;
}

.form-list input.input-text,
input.input-text {
  width: 230px;
  padding: 0px 5px;
}

input.input-text.qty {
  width: 36px;
  height: 36px;
  text-align: center;
}

.product-essential input.input-text.qty {
  width: 30px;
  height: 30px;
  float:left;
  margin-right:5px;
}

.add-to-cart > label{
  float:left;
  margin-right:5px;
  line-height: 30px;
}

.discount-form .input-text,
.shipping-form .input-text,
.shipping-form select {
  width: 100% !important;
}

.discount > h2,
.shipping > h2 {
  font-family: inherit;
  font-size: 107.69%;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.pager {
  border-top: 1px solid #ccc;
  border-bottom: double #ccc;
  padding: 5px 0px;
  margin: 0 0 20px 0;
  display: inline-block;
  width: 100%;
}

.write-your-review {
  padding-top: 20px;
}

.write-your-review > h4 {
  text-transform: uppercase;
  color: #444;
  font-weight:bold;
  margin-bottom: 10px;
}

.pager li > a, .pager li > span {
  border-radius: 0;
  line-height: 100%;
  padding: 5px 10px;
  background-color: #F4F4F4;
  margin-left: 5px;
  float: left;
  border: 1px solid #e9e9e9;
}

.pager li > a:hover,
.pager li > a:focus,
.pager li.current > a {
  color: #fff;
  border: 1px solid transparent;
}

.pager .amount {
  float: left;
  line-height: 30px;
  margin-right: 30px;
}

.pager .amount strong {
   font-weight: normal;
 }

.pager .limiter {
  float: right;
}

.my-account .pager .pages {
  display: inline-block;
  float: right;
}

.my-account .pager > .pages > ol {
  display: inline;
}

.pager .limiter label {
  font-weight: normal;
  float: left;
  line-height: 30px;
}

.pager .limiter select {
  margin: 0;
  width: auto !important;
  position: relative;
  padding: 2px;
  margin-left: 5px;
}

.my-account .title-buttons .page-title {
  float: left;
}

.my-account .title-buttons .button,
.my-account .link-print {
  float: right;
}

.my-account .link-print {
  margin-right: 10px;
}

.my-account .addresses-list h3,
.my-account .addresses-list h2,
.my-account .order-info-box h2 {
  float: left;
  width: 100%;
  margin: 10px 0 7px 0;
}

.my-account .addresses-list h2 {
  border-bottom: 1px dashed #E9E9E9;
  padding-bottom: 5px;
  margin: 0;
}

/*css background image*/
.pattern1 {
  background-image: url(../../images/pattern/pattern1.png);
  background-attachment: fixed;
}

.pattern2 {
  background-image: url(../../images/pattern/pattern2.png);
  background-attachment: fixed;
}

.pattern3 {
  background-image: url(../../images/pattern/pattern3.png);
  background-attachment: fixed;
}

.pattern4 {
  background-image: url(../../images/pattern/pattern4.png);
  background-attachment: fixed;
}

.pattern5 {
  background-image: url(../../images/pattern/pattern5.png);
  background-attachment: fixed;
}

.pattern6 {
  background-image: url(../../images/pattern/pattern6.png);
  background-attachment: fixed;
}

.pattern7 {
  background-image: url(../../images/pattern/pattern7.png);
  background-attachment: fixed;
}

.pattern8 {
  background-image: url(../../images/pattern/pattern8.png);
  background-attachment: fixed;
}

#product-options-wrapper .input-box .input-text {
  width: 100%;
}

/*************************************************/
.tab-product-ex .tab-pane {
  opacity: 0 !important;
  height: 0px !important;
  display: block !important;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
}

.tab-product-ex .tab-pane.active {
  opacity: 1 !important;
  height: auto !important;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
}

/* QUICK VIEW */
.quickview-main {
  max-width: 980px;
  padding: 0px 20px;
  background: #fff;
  padding-top: 20px;
}

.quickview-main #product-options-wrapper select {
  width: 100%;
}

.quickview-main .tab-product-detail {
  display: none !important;
}

.block-bottom {
  padding-top: 20px !important;
}



.mini-cartpro .block-title .c-item {
  border: 2px solid #fff;
  border-radius: 50%;
  display: none;
  font-family: Arial;
  font-size: 107.69%;
  height: 30px;
  left: 11px;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: -20px;
  width: 30px;
}

.slidershow-megamenu {
  background-color: #ededed;
  padding: 20px 0px;
}

.review-product-list #yt_main > .container {
  background: none !important;
  padding-top: 0px;
  padding-bottom: 0px;
}

#product_comparison .product-name {
  margin: 10px 0;
  font-family: inherit;
  font-size: 113.33%;
}

#product_comparison .ratings{
  width:100%;
  .rating-box,
  .amount{
    display:inline-block;
    float:none;
  }
}
#product_comparison .ratings .amount{
  position:relative;
  top:2px;
}
#product_comparison .btn-cart {
  margin: 10px 0px;
}

#product_comparison td {
  vertical-align: top;
  text-align: center;
}

#product_comparison .add-to-links li {
  float: none;
}

.add-to-links .separator {
  display: none;
}

.checkout-cart-configure .add-to-holder .product-add-box .add-to-links li {
  margin-left: 1px;
}

.my-wishlist .buttons-set .button {
  margin-bottom: 5px;
}

.slider-happy-client .owl-controls .owl-next:hover,
.slider-happy-client .owl-controls .owl-prev:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

.mini-cartpro .truncated .price {
  font-size: 100% !important;
  position: relative;
  top: -1px;
  margin-left: 5px;
}

#shopping-cart-table .item-options > dt {
  display: inline-block;
}

#shopping-cart-table .item-options > dd {
  display: inline-block;
  margin-right: 5px;
}

.button.link-wishlist {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  color: #fff;
  margin-top: 10px;
}

.cart-cell .truncated {
  position: relative;
}

.cart-cell .truncated_full_value {
  background-color: #fff;
  border: 1px solid #ccc;
  display: none;
  left: -200px;
  padding: 10px 15px;
  position: absolute;
  top: 0;
  width: 200px;
}

.cart-cell .truncated_full_value.show {
  display: block;
}

.cart-cell .truncated_full_value.show dd {
  margin-right: 5px;
}

.cart-cell .truncated_full_value.show dt,
.cart-cell .truncated_full_value.show dd {
  display: inline-block;
}

#_atssh{
	display:none;
}




/*404page*/
.wrapper_404page{
  background-color:#eeeeee;
  border-radius:3px;
  padding:0 15px;
  display:inline-block;
  width:100%;

  .content-404page{
    max-width:500px;
    float:right;
    text-align:center;
    margin-top:40px;

    .top-text,
    .bottom-text{
      font-size:133.33%;
    }

    .img-404{
      margin:30px 0px;
      img{
        width:auto;
        max-width: 100%;
      }
    }

    .button-404{
      padding-top:40px;
    }

    .btn-404{
      height:38px;
      line-height:38px;
      border-radius:3px;
      -webkit-border-radius:3px;
      -moz-border-radius:3px;
      display:inline-block;
      vert-align: top;
      padding:0 20px;
      color:#fff;
      margin:0 4px;
      .transition_all(.3s);
      text-transform: uppercase;
      margin-bottom:10px;
    }

    .prev-page-btn{
      background-color:#ea3a3c;

      &:hover{
        background-color:#c43031;;
      }
    }

    .back2home{
      background-color:#3cb7e7;

      &:hover{
        background-color:#3094bb;;
      }
    }
  }


  .img-right-404{
    margin-top:60px;
  }


}

/*=============================================COLOR THEME================================================*/
//===========================BACKGROUND==========================//
.button:hover,
.header-default .yt-header-top .block-action-header .jqTransformSelectWrapper ul li:hover,
.header-default .yt-header-top .my-account-link > ul > li .dropdown-link-account li a:hover,
.header-default .yt-header-under .mini-cart-header .block-title .btn-toggle,

.header-v3 .yt-header-top .block-action-header .jqTransformSelectWrapper ul li:hover,
.header-v3 .yt-header-top .my-account-link > ul > li .dropdown-link-account li a:hover,
.header-v3 .yt-header-under .mini-cart-header .block-title .btn-toggle,

.header-v4 .yt-header-top .block-action-header .jqTransformSelectWrapper ul li:hover,
.header-v4 .yt-header-top .my-account-link > ul > li .dropdown-link-account li a:hover,

.header-v5 .yt-header-top .block-action-header .jqTransformSelectWrapper ul li:hover,
.header-v5 .yt-header-top .my-account-link > ul > li .dropdown-link-account li a:hover,
.header-v5 .yt-header-under .mini-cart-header .block-title .btn-toggle,

.respl-item .item-inner .btn-pd:hover,
.toolbar .pagination-wrap .pagination .pages ol li a:hover,
.toolbar .pagination-wrap .pagination .pages ol li.current a,
#yt_left .block .block-title strong, #yt_right .block .block-title strong,
.block-related .block-title strong,
.yt-footer-wrap .footer-top .block-subscribe-footer .block-content button,
.block-layered-nav .filter-wrapp .wrap-price-shopby .btn-shopby-wrapper .btn-shopby,
.products-list .respl-item-list .product-shop .f-fix .list-action .item-wishlist:hover,
.products-list .respl-item-list .product-shop .f-fix .list-action .item-compare:hover,
.products-list .respl-item-list .product-shop .f-fix .list-action .btn-cart:hover,
.products-list .respl-item-list .w-image-box .item-image .sm_quickview_handler:hover,
.block-popup-login .block-content .btn-reg-popup,
.tt_popup_login strong,
.mega-left-title,
.faqs-block .faq-wrapper .accordion:hover span:before,
.respl-item .item-inner:hover .time-item,
.owl-pagination .owl-page:hover,
.owl-pagination .owl-page.active,
.custom-nav-default .button-default:hover,
.block-title-default h2 span,
.yt-slideshow .owl-buttons .owl-next:hover, .yt-slideshow .owl-buttons .owl-prev:hover,
.quantity-controls:hover,
.yt-product-detail .yt-detail-right .product-add-box .add-to-links li a:hover,
.yt-product-detail .yt-detail-right .product-shop .add-to-cart .btn-cart,
.resp-tabs-list li.resp-tab-active a,
.resp-tabs-list li:hover a,
.block-tags .tags-list li a:hover,
#checkoutSteps .active .step-title,
#confirmbox #btnavi li > #btccart:hover,
#yt-totop:hover,
.resp-accordion.resp-tab-active,
.header-default .yt-header-top .jqTransformSelectWrapper ul li a.selected,

.header-v3 .yt-header-top .jqTransformSelectWrapper ul li a.selected,
.header-v4 .yt-header-top .jqTransformSelectWrapper ul li a.selected,
.header-v5 .yt-header-top .jqTransformSelectWrapper ul li a.selected{
  background-color:@color_theme;
}

//===========================BACKGROUND ACTIVE==========================//
.header-default .yt-header-under .mini-cart-header .block-title .btn-toggle .item-cart,

.header-v3 .yt-header-under .mini-cart-header .block-title .btn-toggle .item-cart,

.header-v5 .yt-header-under .mini-cart-header .block-title .btn-toggle .item-cart,

.yt-footer-wrap .footer-top .block-subscribe-footer .block-content button:hover,
.block-layered-nav .filter-wrapp .wrap-price-shopby .btn-shopby-wrapper .btn-shopby:hover,
.block-popup-login .block-content .btn-reg-popup:hover,
.mega-left-title strong:before,
.yt-product-detail .yt-detail-right .product-shop .add-to-cart .btn-cart:hover{
  background-color:@color_theme_active;
}

//===========================BORDER COLOR==========================//
.header-default .yt-header-under .mini-cart-header .bottom-action,
.header-v3 .yt-header-under .mini-cart-header .bottom-action,
.header-v5 .yt-header-under .mini-cart-header .bottom-action,
.toolbar .pagination-wrap .pagination .pages ol li a:hover,
.toolbar .pagination-wrap .pagination .pages ol li.current a,
#yt_left .block .block-title, #yt_right .block .block-title,
.block-related .block-title,
.price_filter .price-from:hover, .price_filter .price-to:hover,
.tt_popup_login,
.custom-nav-default .button-default:hover,
.block-title-default,
.list-services li a:hover,
.yt-product-detail .product-img-box .more-views ul li img:hover,
.yt-product-detail .product-img-box .more-views ul li.selected img,
.resp-accordion.resp-tab-active{
  border-color:@color_theme;
}

#yt_left .block .block-title strong:before,
#yt_right .block .block-title strong:before,
.block-related .block-title strong:before,
.tt_popup_login strong:before,
.block-title-default h2 span:before{
  border-bottom: 37px solid @color_theme;
}

.header-default .yt-header-under .mini-cart-header .block-title .btn-toggle:before,
.header-v5 .yt-header-under .mini-cart-header .block-title .btn-toggle:before,
.header-v3 .yt-header-under .mini-cart-header .block-title .btn-toggle:before{
  border-right: 15px solid @color_theme;
}
//===========================COLOR==========================//
.sm-serachbox-pro .form-search .button-search-pro,
.sm-cartpro .product-details-bottom .price,
.toolbar .select-inner > ul li a:hover,
.toolbar .select-inner > ul li a.selected,
.yt-footer-wrap .footer-top .socials-wrap ul li a:hover,
.copyright-footer a,
.yt-footer-wrap .footer-middle .content-block-footer ul li .sp-ic,
.block .customNavigation .btn-bs:hover,
#nav > li ul li:hover > a,
.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu > li:hover > a,
.faqs-block .faq-wrapper .accordion:hover,
.yt-product-detail .yt-detail-right .availability span,
.yt-product-detail .yt-detail-right .product-shop .price-box .special-price .price,
.yt-product-detail .yt-detail-right .product-shop .price-box .regular-price .price,
.yt-product-detail .product-img-box .more-views .btn_thumb:hover,
.why-list li a:hover,
.our-member .respl-item .info-member .cl-name > a,
.happy-about-us .happy-ab .ct-why .client-info-about .name,
.block-account .block-content ul li.current a,
.block-account .block-content ul li a:hover{
  color:@color_theme;
}

.our-member .respl-item .info-member .cl-name > a:hover{
  color:@color_theme_active;
}



/*=====================================CMS PAGE=================================*/
.cmspage4{
  #yt_left .block,
  #yt_right .block{

    .customNavigation{
      top:4px;
    }

    .block-title{
      margin-top:0px;
      border-color: #dddddd;

      strong{
        background:none;
        color:inherit;

        &:before{
          display: none;
        }
      }
    }

  }

  .block.block-related{
    margin-top:-2px;

    .customNavigation{
      top:4px;
    }

    .block-title{
      margin-top:0px;
      border-color: #dddddd;

      strong{
        background:none;
        color:inherit;

        &:before{
          display: none;
        }
      }
    }

  }

  .block-title-default{
    margin-top:0px;
    border:1px solid #ddd;
    border-bottom-width: 3px;
    margin-top:-1px;

    h2{
      span{
        background-color: transparent;
        color: inherit;

        &:before{
          display: none;
        }
      }
    }
  }

  .category-wrap-cat{
    padding-top:4px;
    border-right:none;
  }

}

.cms-index-index.cmspage3{

    .col-2-wrapper{
      margin-top:-25px;
    }

  .yt-content-inner{
    margin-bottom:30px;
  }

  .block-left-products .bs-item{
    margin-bottom:7px;
    padding:0 0 7px;
  }
}

.cmspage3{
  .super-category-block{
    margin-bottom:30px;
  }
  .faqs-block .faq-wrapper{
    margin: -21px -18px -20px;
  }

  .latest-blog{
    .block-content{
      position: relative;
      top:-2px;
    }
  }



  #yt_left .block,
  #yt_right .block{

    .customNavigation{
      top:6px;
      z-index:9;

      .btn-bs{
        width:24px;
        height:24px;
        line-height: 21px;
        border:1px solid #ddd;
        font-size:16px;

        &:hover{
          background-color: @color_theme;
          border-color: @color_theme;
          color:#fff;
        }
      }
    }

    .block-title{
      margin-top:0px;
      border-color: #dddddd;
      border-left:5px solid @color_theme;
      border-bottom:none;
      position: relative;
      margin-bottom:0px;
      border-right:1px solid #ddd;
      position: relative;
      top:-1px;

      &:before {
        width: 100%;
        height: 1px;
        position: absolute;
        display: inline-block;
        background: #ddd;
        content: "";
        bottom: 0px;
        left: 0px;
      }

      strong{
        background:none;
        color:inherit;

        &:before{
          display: none;
        }
      }
    }

  }

  #yt_left,
  #yt_right{
    .block.block-left-products{
      border:none;
      padding-left:0px;
      padding-right: 0px;

      .block-title{
        margin-bottom:20px;
        margin-left: 0px;
        margin-right: 0px;

        &:after {
          width: 100%;
          height: 1px;
          position: absolute;
          display: inline-block;
          background: #ddd;
          content: "";
          top: 0px;
          left: 0px;
        }
      }

      .block-content{
        border:1px solid #ddd;
        padding:11px 14px 10px !important;
      }
    }
  }

  .block-title-default{
    margin-top:0px;
    border:1px solid #ddd;
    border-bottom-width: 0px;
    margin-top:-1px;
    border-top:0px;
    border-left:5px solid @color_theme;

    h2{
      span{
        background-color: transparent;
        color: inherit;

        &:before{
          display: none;
        }
      }
    }

    &:before {
      width: 100%;
      height: 1px;
      position: absolute;
      display: inline-block;
      background: #ddd;
      content: "";
      bottom: 0px;
      left: 0px;
    }

    &:after {
      width: 100%;
      height: 1px;
      position: absolute;
      display: inline-block;
      background: #ddd;
      content: "";
      top: 0px;
      left: 0px;
    }
  }

  .category-wrap-cat{
    padding-top:4px;
    border-right:none;
  }
}

.slider-brand-bottom-wrapper{
  padding:0 15px;
  position: relative;
  clear:both;

  .slider-brand-bottom{
    border:1px solid #ddd;

    .owl-item{
      padding:0 15px;
      img{
        width: 100%;
      }

      .item{
        position: relative;
        top:0px;

        &:hover{
          top:-3px;
        }
      }
    }
  }

  .customNavigation{
    .button-default{
      position: absolute;
      top:50%;
      margin-top:-18px;

      .transform_scale(0);
      .transition_all(.3s);
    }

    .button-default.prev-brand-bottom{
      left:-2px;
    }

    .button-default.next-brand-bottom{
      right:-2px;
    }
  }

  &:hover{
    .customNavigation{
      .button-default{
        .transform_scale(1);
      }
    }
  }
}

.banner-right{
  li{
    a img{
      .transition_all(.2s);

      &:hover{
        opacity: 0.8;
      }
    }
  }
}

.static-image-home-right img{
  .transition_all(.2s);
  width: auto;
  max-width: 100%;

  &:hover{
    opacity: 0.8;
  }
}

.cmspage5{
  .super-category-block{
    border-top:none;
  }

  .block-title-default{
    margin-top:0px;

    img{
      position: relative;
      top:-2px;
    }

    h2{
      span{
        padding-left:35px;
        line-height: 33px;

        &:before{
          display: none;
        }
      }
    }

    &:before{
      content:"";
      display: inline-block;
      position: absolute;
      top:0px;
      left:0px;
      width:22px;
      height:22px;
      background:url(../../images/bf-title.png) no-repeat top left;
      z-index: 9;
    }
  }

  .deal-wrapper{
    .block-title-default h2 span{
      background-image:url(../../images/deal-icon.png);
      background-position: 35px center;
      background-repeat: no-repeat;
      padding-left:60px;
    }
  }


}

.block-title-bottom{
  position: relative;
  h2 {
    font-size: 133.33%;
    font-weight: bold;
    margin-bottom: 18px;
  }
}

.client-wrapper-b{
  padding:10px 20px;
  background-color:#eee;

  .image-client{
    float:left;
    width:65px;
  }

  .client-say-info{
    margin-left:80px;
    font-style: italic;
    position: relative;
    top:-4px;

    .name-client{
      padding:17px 0px 22px;

      h2{
        font-style: normal;
        font-weight: bold;
        font-size: 116.67%;

        a{
          color: #ea3a3c;
        }
      }
    }
  }

  .nav-custom{
    position: absolute;
    right: -3px;
    top:0px;

    a{
      font-size:20px;
      font-weight: bold;
      padding: 5px;
      cursor: pointer;

      span{
        display: none;
      }
    }
  }
}

.blog-bottom,
.basic-product-bottom,
.client-say-bottom{
  padding-top:10px;
}