@media (min-width: 768px) and (max-width: 991px) {
  #yt_wrapper {
    width: 1200px;
  }
}

@media (max-width: 767px) {
  #yt_wrapper {
    width: 1200px;
  }
}

#yt_wrapper {
  margin-bottom: -5px;
}

.catalog-category-view {
  .toolbar {
    .sort-by-wrap {
      margin-left: 202px;
    }
  }
}

/*= MEGAMENU =*/
.yt-header-under.menu-on-top {
  position: fixed;
  top: 0px;
  z-index: 99;
  .item-icon {
    display: none !important;
  }
}

.mobile-item-parent {
  > div {
    width: 630px !important;

    .border-column {
      padding-left: 30px !important;
      width: 31% !important;
    }
    .img-st-h {
      padding-left: 25px !important;
    }
  }
}

.electronic-item-parent {
  > div {
    width: 630px !important;

    .border-column {
      padding-left: 30px !important;
      width: 31% !important;
    }
    .border-last {
      border: none !important;
    }
    .accessories-electronic {
      width: 34% !important;
    }
    .img-st-h {
      padding-left: 25px !important;
    }
  }
}

.clear-block {
  clear: both;
}

.padding-top {
  padding-top: 20px;
}

.static-home-2 > ul > li.col-s-1 {
  width: 25.64%;
}

.static-home-2 > ul > li.col-s-2 {
  width: 34.188%;
}

.static-home-2 > ul > li.col-s-3 {
  width: 17.09%;
}

.static-home-2 > ul > li.col-s-4 {
  width: 23.082%;
}

/*= HEADER V2 =*/
.header-default.header-v2 {
  .sm-serachbox-pro .form-search {
    width: 95%;
    .input-search #search {
      width: 100%;
    }

    .cat-wrapper {
      width: 142px;

      span {
        text-align: center;
        width: 111px !important;
      }
    }

    .input-search {
      margin-left: 142px;
    }
  }
}

/*= FOOTER =*/
.yt-footer-wrap .footer-top {
  min-height: 70px;

  .validation-advice {
    max-width: 270px;
    margin-bottom: 5px;
  }

  .socials-wrap {
    height: 70px;
    margin-top: -12px;
    margin-right: -15px;

    ul {
      li {
        a {
          height: 70px;
          line-height: 70px;
        }
      }
    }
  }

  .block-subscribe-footer {
    .title-block {
      margin-left: 5px;
    }
  }
}

.account-block {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding-left: 20px;
}

.infomation-block {
  padding-left: 20px;
  border-right: 1px solid #dddddd;
}

/*=QUICK VIEW=*/
.quickview-main {
  .product-img-box {
    .more-views {
      top: 14px;
    }

    .wrap-jCarouselLite {
      height: 326px;
      overflow: hidden;
    }

    .popup-btn {
      display: none !important;
    }
  }
}

/*= HOME PAGE =*/
.latest-blog {
  .block-content {
    margin: -20px -19px 0;
  }
}

/*= LISTING =*/
.block-image-static {
  margin-bottom: 0px;
}

.container {
  width: 1200px;
  max-width: 1200px !important;
}

/*    Extra small devices Phones (<768px)   */
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

/*   Small devices Tablets (=768px)   */
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
  float: left;
}

.col-sm-12 {
  width: 100%;
}

.col-sm-11 {
  width: 91.666666666667%;
}

.col-sm-10 {
  width: 83.333333333333%;
}

.col-sm-9 {
  width: 75%;
}

.col-sm-8 {
  width: 66.666666666667%;
}

.col-sm-7 {
  width: 58.333333333333%;
}

.col-sm-6 {
  width: 50%;
}

.col-sm-5 {
  width: 41.666666666667%;
}

.col-sm-4 {
  width: 33.333333333333%;
}

.col-sm-3 {
  width: 25%;
}

.col-sm-2 {
  width: 16.666666666667%;
}

.col-sm-1 {
  width: 8.3333333333333%;
}

.col-sm-pull-12 {
  right: 100%;
}

.col-sm-pull-11 {
  right: 91.666666666667%;
}

.col-sm-pull-10 {
  right: 83.333333333333%;
}

.col-sm-pull-9 {
  right: 75%;
}

.col-sm-pull-8 {
  right: 66.666666666667%;
}

.col-sm-pull-7 {
  right: 58.333333333333%;
}

.col-sm-pull-6 {
  right: 50%;
}

.col-sm-pull-5 {
  right: 41.666666666667%;
}

.col-sm-pull-4 {
  right: 33.333333333333%;
}

.col-sm-pull-3 {
  right: 25%;
}

.col-sm-pull-2 {
  right: 16.666666666667%;
}

.col-sm-pull-1 {
  right: 8.3333333333333%;
}

.col-sm-pull-0 {
  right: 0;
}

.col-sm-push-12 {
  left: 100%;
}

.col-sm-push-11 {
  left: 91.666666666667%;
}

.col-sm-push-10 {
  left: 83.333333333333%;
}

.col-sm-push-9 {
  left: 75%;
}

.col-sm-push-8 {
  left: 66.666666666667%;
}

.col-sm-push-7 {
  left: 58.333333333333%;
}

.col-sm-push-6 {
  left: 50%;
}

.col-sm-push-5 {
  left: 41.666666666667%;
}

.col-sm-push-4 {
  left: 33.333333333333%;
}

.col-sm-push-3 {
  left: 25%;
}

.col-sm-push-2 {
  left: 16.666666666667%;
}

.col-sm-push-1 {
  left: 8.3333333333333%;
}

.col-sm-push-0 {
  left: 0;
}

.col-sm-offset-12 {
  margin-left: 100%;
}

.col-sm-offset-11 {
  margin-left: 91.666666666667%;
}

.col-sm-offset-10 {
  margin-left: 83.333333333333%;
}

.col-sm-offset-9 {
  margin-left: 75%;
}

.col-sm-offset-8 {
  margin-left: 66.666666666667%;
}

.col-sm-offset-7 {
  margin-left: 58.333333333333%;
}

.col-sm-offset-6 {
  margin-left: 50%;
}

.col-sm-offset-5 {
  margin-left: 41.666666666667%;
}

.col-sm-offset-4 {
  margin-left: 33.333333333333%;
}

.col-sm-offset-3 {
  margin-left: 25%;
}

.col-sm-offset-2 {
  margin-left: 16.666666666667%;
}

.col-sm-offset-1 {
  margin-left: 8.3333333333333%;
}

.col-sm-offset-0 {
  margin-left: 0;
}

/*  Medium devices Desktops (=992px)  */
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  float: left;
}

.col-md-12 {
  width: 100%;
}

.col-md-11 {
  width: 91.666666666667%;
}

.col-md-10 {
  width: 83.333333333333%;
}

.col-md-9 {
  width: 75%;
}

.col-md-8 {
  width: 66.666666666667%;
}

.col-md-7 {
  width: 58.333333333333%;
}

.col-md-6 {
  width: 50%;
}

.col-md-5 {
  width: 41.666666666667%;
}

.col-md-4 {
  width: 33.333333333333%;
}

.col-md-3 {
  width: 25%;
}

.col-md-2 {
  width: 16.666666666667%;
}

.col-md-1 {
  width: 8.3333333333333%;
}

.col-md-pull-12 {
  right: 100%;
}

.col-md-pull-11 {
  right: 91.666666666667%;
}

.col-md-pull-10 {
  right: 83.333333333333%;
}

.col-md-pull-9 {
  right: 75%;
}

.col-md-pull-8 {
  right: 66.666666666667%;
}

.col-md-pull-7 {
  right: 58.333333333333%;
}

.col-md-pull-6 {
  right: 50%;
}

.col-md-pull-5 {
  right: 41.666666666667%;
}

.col-md-pull-4 {
  right: 33.333333333333%;
}

.col-md-pull-3 {
  right: 25%;
}

.col-md-pull-2 {
  right: 16.666666666667%;
}

.col-md-pull-1 {
  right: 8.3333333333333%;
}

.col-md-pull-0 {
  right: 0;
}

.col-md-push-12 {
  left: 100%;
}

.col-md-push-11 {
  left: 91.666666666667%;
}

.col-md-push-10 {
  left: 83.333333333333%;
}

.col-md-push-9 {
  left: 75%;
}

.col-md-push-8 {
  left: 66.666666666667%;
}

.col-md-push-7 {
  left: 58.333333333333%;
}

.col-md-push-6 {
  left: 50%;
}

.col-md-push-5 {
  left: 41.666666666667%;
}

.col-md-push-4 {
  left: 33.333333333333%;
}

.col-md-push-3 {
  left: 25%;
}

.col-md-push-2 {
  left: 16.666666666667%;
}

.col-md-push-1 {
  left: 8.3333333333333%;
}

.col-md-push-0 {
  left: 0;
}

.col-md-offset-12 {
  margin-left: 100%;
}

.col-md-offset-11 {
  margin-left: 91.666666666667%;
}

.col-md-offset-10 {
  margin-left: 83.333333333333%;
}

.col-md-offset-9 {
  margin-left: 75%;
}

.col-md-offset-8 {
  margin-left: 66.666666666667%;
}

.col-md-offset-7 {
  margin-left: 58.333333333333%;
}

.col-md-offset-6 {
  margin-left: 50%;
}

.col-md-offset-5 {
  margin-left: 41.666666666667%;
}

.col-md-offset-4 {
  margin-left: 33.333333333333%;
}

.col-md-offset-3 {
  margin-left: 25%;
}

.col-md-offset-2 {
  margin-left: 16.666666666667%;
}

.col-md-offset-1 {
  margin-left: 8.3333333333333%;
}

.col-md-offset-0 {
  margin-left: 0;
}
