/*css admin sm-maxshop*/
#row_maxshop_cfg_general_body_background_image input{
	display: none;
}
#row_maxshop_cfg_general_body_background_image img{
	width: 50px; 
	height: 35px;
	border: 1px solid transparent;
}
#row_maxshop_cfg_general_body_background_image .inline img:hover{
	cursor: pointer;
	border: 1px solid #909090;
}
#row_maxshop_cfg_general_body_background_image .inline.active img,
#row_maxshop_cfg_general_body_background_image .inline  img.active{
	border: 1px solid #909090;
}